@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;

}

body {
  //background-color: red;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Heebo", sans-serif;
  --primary-color: #000;
  --secondary-color: blue;
}

.parent .child {
  background-color: red;
  width: 100px;
  height: 100px;
}

.parent {
  width: 200px;
  height: 200px;
  background-color: blue;
  @include flexCenter;

  .child {
    background-color: red;
    width: 100px;
    height: 100px;
  }
}

.button {
  @include button(100px, 50px, blue, 50px);
  font-style: $font-main;
}

@media screen and (max-width: 800px) {
  body {
    background-color: green;
  }
}

@include responsive(600px) {
  body {
    background-color: bisque;
  }
}

.banner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 96px 200px;
  width: 1920px;
  height: 882px;
  background: #fff;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  //font-size: 360px;
  //font-size: clamp(60px, calc(60px + (360 - 60) * ((100vw - 360px) / (1920 - 360))), 360px);
  font-size: clamp(60px, 18.75vw, 360px); // 360/1920*100=18.75
  line-height: 1;
  text-transform: uppercase;
  color: var(--primary-color);
}

.banner-info {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(10px, calc(10px + (30 - 10) * ((100vw - 360px) / (1920 - 360))), 30px);;
  line-height: 127%;
  text-transform: uppercase;
  color: #000;
  display: flex;
  align-items: end;

  &::before {
    content: "";
    //width: 200px;
    width: clamp(60px, calc(60px + (200 - 60) * ((100vw - 360px) / (1920 - 360))), 200px);
    aspect-ratio: 1;
    margin-right: 30px;
    background: url('./img/Vector.svg') center/contain no-repeat;
  }
}