* {
  margin: 0;
  padding: 0;

}

body {
  background-color: red;
}

@media screen and (max-width: 1200px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: green;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}

.parent {
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
  height: 200px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;

  .child {
    width: 90%;
    height: 90%;
    background-color: bisque;
  }
}

.container {
  display: flex;
}

.block1 {
  width: 50%;
  height: 50px;
  background-color: azure;
}

.block2 {
  height: 50px;
  width: 30%;
  background-color: brown;
}

.block3 {
  height: 50px;
  width: 20%;
  background-color: cadetblue;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    padding: 50px;
    padding-inline: 50px;
    padding-block: 50px;
    .block1,
    .block2,
    .block3, {
      width: 100%;
    }
  }
}

.header {
  border-bottom: 1px solid #e5e9eb;
  width: 1520px;
  height: 65px;
  background: #fff;
  display: flex;

  align-items: center;
  justify-content: space-between;
}


.burger {
  display: none;
}

@media screen and (max-width: 960px) {
  nav {
    display: none;
  }
  .burger {
      display: block;
  }
}